/* 디자인의 통일감을 위한 하나로 합친 CSS 파일 */
.v-application{
    line-height:1.2;
}
.v-application p{
    margin-bottom:0;
    font-family: 'Noto Sans KR', sans-serif;
}
p{
    font-family: 'Noto Sans KR', sans-serif;
}
p::selection{
    background-color:rgba(55,200,55,.2);
}
br::selection{
    background-color:transparent;
}


.headerText{
    font-size:17px;
    font-weight: 700;
}
.mainText{
    font-size:32px;
    font-weight: 900;
}
.mainSubText{
    font-size:18px;
    font-weight: 700;
}

.sliderTitleText{
    font-size:16px;
}
.sliderSubText{
    font-size:12px;
    color:rgba(0,0,0,.5);
}
.topicText{
    font-size:32px;
    font-weight: 700;
}
.topicSubText{
    font-size:16px;
    font-weight: 700;
    color:rgba(0,0,0,.5);
}
.articleTitleText{
    font-size:18px;
    font-weight: 500;
}
.articleTitleText2{
    font-size:16px;
    font-weight: 500;
}
.articleSubText{
    font-size:14px;
}
.articleTinyText{
    font-size:12px;
    color:rgba(0,0,0,.5)
}

@media (max-width:1550px){
    .headerText{
        font-size:14px;
    }
    .mainText{
        font-size:28px;
    }
    .mainSubText{
        font-size:14px;
    }
    .sliderTitleText{
        font-size:14px;
    }
    .sliderSubText{
        font-size:10px;
    }
}
@media (max-width:1350px){
    .headerText{
        font-size:12px;
    }
}
@media (max-width:680px){
    .mainText{
        font-size:20px;
    }
}
@media (max-width:520px){
    .mainText{
        font-size:18px;
    }
}